<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/images/LOGO YA.png">
    <title>Ya recargas al instante</title>
</head>
<body>
        
    <div class="login">
    <div class="form-container">
        <h2>Crear Usuario</h2>
        <form action="/signup" method="post">            
            <div class="form-group">
                <label> <form="name">Nombre</label><br>
                <input type="text" id="name" name="username" placeholder="Ingresa tu nombre" required autocomplete="off">
            </div>
            <div class="form-group">
                <label form="password">Contraseña</label><br>
                <input type="password" name="password" placeholder="Constraseña" required>
            </div>
            <div class="form-group">
                <label form="email">Correo</label><br>
                <input type="email" name="email" placeholder="Ingresa tu correo electronico" required>
            </div>
            <div class="no-account">
            <button type="submit" class="submit-btn">Registrarme</button>
            </div>
        </div>
            
    </form>
</body>
</html>
